@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  min-height: 100vh;
  background: #28293e;
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main h2 {
  color: var(--text-light-accent, #ef6d58);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.main h1 {
  color: var(--text-light, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
}
.main ul {
  margin-bottom: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main ul li {
  margin-right: 46px;
  display: flex;
}
.main ul li a {
  text-decoration: none;
  color: var(--text-light-gray, rgba(255, 255, 255, 0.64));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.main ul li .first-li {
  text-decoration: none;
  color: var(--text-light-gray, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.main ul li p {
  margin-left: 0.5px;
  color: var(--text-light-gray, rgba(255, 255, 255, 0.64));
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.main .top-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.main .top-box .foto-1 {
  width: 470px;
  height: 416px;
  border-radius: 6px;
  background: #5C2000;
  margin-right: 30px;
}
.main .top-box .foto-2 {
  width: 670px;
  height: 416px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #5C2000;
}
.main .bot-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
.main .bot-box .foto-4 {
  width: 470px;
  height: 416px;
  border-radius: 6px;
  background: #5C2000;
  margin-left: 30px;
}
.main .bot-box .foto-3 {
  width: 670px;
  height: 416px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #5C2000;
}
.main button {
  width: 170px;
  height: 48px;
  margin-bottom: 208px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #28293e;
  color: #FFF;
  text-align: center;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}